header.banner {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: $white;
	padding-left: 15px;
	padding-right: 15px;
	@include light-shadow();
	text-align: center;
	z-index: 1010;
	.social {
		border-top: 1px solid #efefef;
		position: absolute;
		bottom: 0;
		left: 15px;
		right: 15px;
		padding: 10px 0 15px;
		font-size: 12px;
		line-height: 18px;
		address {
			margin-bottom: 10px;
		}
		ul {
			list-style: none;
			padding: 10px 0 0;
			margin: 0;
			li {
				display: inline-block;
				a {
					display: block;
					padding: 0 5px;
				}
			}
		}
	}
	a.brand {
		display: block;
		margin: 5px auto;
		max-width: 200px;
		font-size: 14px;
		font-weight: 700;
		line-height: 16px;
		img {
			margin: 0 auto 10px;
			display: block;
			max-width: 100px;
		}
		span {
			display: block;
			color: $brand-secondary;
		}
		@include media-breakpoint-up(sm) {
			margin: 20% auto;
		}
	}
	@include media-breakpoint-up(sm) {
		width: 250px;
		bottom: 0;
		img {
			max-width: 130px;
		}		
	}
	.open-nav,
	.ctc {
		position: absolute;
		top: 0;
		font-size: 1.2em;
		color: $brand-primary;
		line-height: 71px;
		@include transition(.5s);
		&:hover {
			color: $brand-secondary;
			cursor: pointer;
		}
	}
	.open-nav {
		left: 15px;
	}
	.ctc {
		right: 15px;
	}
}

#menu-primary {
	display: block;
	text-align: left;
	font-size: .9em;
	display: none;
	border-top: 1px solid #efefef;
	padding: 5px 0;
	li {
		
		a {
			display: block;
			padding: 5px 0;
		}
		
		.sub-menu {
			list-style: none;
			font-size: .9em;
			padding-left: 0;
			border-top: 1px solid #efefef;
			border-bottom: 1px solid #efefef;
			padding: 5px 10px;
			margin: 5px 0;
			li {
				a {
					color: $brand-secondary;
				}
			}
		}
		
	}
	
	@include media-breakpoint-up(sm) {
		display: block;
	}
}