#hero {
	position: relative;
	z-index: 1000;
	background-color: #000;
	img {
		width: 100%;
		height: auto;
	}
	.carousel-item {
		
	}
	.carousel-caption {
		left: 65px;
		right: 65px;
		bottom: 50px;
		h3 {
			font-size: 2.2em;
			margin: 0 0 .3em;
			padding: .3em .5em;
			font-weight: 400;
			background: $white;
			color: $brand-primary;
			display: inline-block;
			font-weight: 300;
		}
	}
	
	.carousel-indicators {
		margin-bottom: 0;
		margin-left: 65px;
		margin-right: 65px;
		bottom: 30px;
/*
		-webkit-box-pack: left;
		-ms-flex-pack: left;
		justify-content: left;
*/
	}
}
.carousel-indicators {
	//bottom: -40px;
	margin-bottom: 0;
	li {
		background-color: $white;
		max-width: 20px;
		height: 20px;
		@include round(20px);
		&.active {
			background-color: $brand-primary;
		}
	}
}


// Page Header Styles
.page-header {
	padding: 0;
	margin-top: 3em;
	margin-bottom: 2em;
	text-align: center;
	h1 {
		margin: 0;
		font-weight: 700;
		text-transform: uppercase;
		color: $brand-primary;
	}
}

body.page {
	.page-header {
		border-bottom: 1px solid #efefef;
		padding-bottom: 2em;
	}
}

// Main Content Styles
main {
	
	p {
		font-weight: 400;	
		&:last-child {
			margin-bottom: 0;
		}
	}
	.main-content {
		margin-bottom: 3em;
	}
	
	.services-block {
		margin-left: -65px;
		margin-right: -65px;
		margin-bottom: 3em;
		color: $white;
		.col-sm-4 {
			@include cover();
			position: relative;
			@include transition(.5s);
			overflow: hidden;
			h3 {
				text-transform: uppercase;
				font-size: 1.3em;
				padding: 0 15px;
				margin-bottom: 1em;
			}
			p {
				padding: 0 15px;
				margin-bottom: 1.5em;
				font-size: .9em;
				color: $white;
				&:last-child {
					margin-bottom: 0;
				}
			}
			.btn {
				text-shadow: 0px 0px 0px #000000;
			}
			
			h3.service-heading {
				position: absolute;
				right: 0;
				bottom: 0;
				left: 0;
				margin: 0;
				padding: 15px 30px;	
				@include transition(.5s);
				z-index: 99;
			}
			.full-content {
				top: -500px;
				bottom: auto;
				margin-left: -15px;
				margin-right: -15px;
				padding: 2em 15px;
				z-index: 100;
				position: relative;
				@include transition(.5s);
				min-height: 30vh;
			}
			
			&.sprinkler-installation {
				h3.service-heading,
				.full-content {
					@include transparent-background(72,125,165,.9);
				}
				.btn-secondary {
					color: $brand-blue;
				}
			}
			&.sprinkler-repair {
				h3.service-heading,
				.full-content {
					@include transparent-background(114,71,96,.9);
				}
				.btn-secondary {
					color: $brand-purple;
				}
			}
			&.landscaping {
				h3.service-heading,
				.full-content {
					@include transparent-background(234,191,63,.9);
				}
				.btn-secondary {
					color: $brand-yellow;
				}
			}

			&:hover {
/*
				-webkit-box-shadow:inset 0 0 2000px 0 rgba(0,0,0,.8);
				box-shadow:inset 0 0 2000px 0 rgba(0,0,0,.8);
*/
				
				.full-content {
					top: 0px;	
				}
				h3.service-heading {
					bottom: -55px;
				}
				
			}
			
		}
	}
	
	.testimonials-carousel-wrap {
		padding: 0em 0 4em;
		position: relative;
		z-index: 1009;
		h2 {
			margin-bottom: 1em;
		}
		.test-content {
			background: $white;
			//margin-left: -90px;
			border: 1px solid #efefef;
			padding: 20px 30px 20px;
			font-size: .9em;
			margin-top: 2em;
			margin-bottom: 2em;
		}
		.carousel-indicators {
			bottom: -40px;
			li {
				background-color: $brand-primary;
				&.active {
					background-color: $brand-secondary;
				}
			}
		}
		
	}
	
	.split-column {
		margin-bottom: 3em;
		h3, p {
			margin-left: 30px;
			margin-right: 30px;
		}	
	}
	
}

body.home {
	main {
		.main-content {
			p {
				text-align: center;
			}	
		}		
	}
}

article.testimonials {
	text-align: left;
	margin-bottom: 3em;
	.test-content {
		//border: 1px solid #efefef;
		background: $brand-secondary;
		padding: 2em;
		@include round(30px);
		position: relative;
		margin-bottom: 40px;
		p {
			color: $white;
		}
		&:after {
			content: '';
			position: absolute;
		}
		&:after {
			bottom: -39px;
			left: 51px;
			width: 0; 
			height: 0; 
			border-left: 19px solid transparent;
			border-right: 19px solid transparent;
			
			border-top: 39px solid $brand-secondary;
		}
	}
	h5 {
		text-align: left;
		margin-left: 65px;
		padding-top: 10px;
		a {
			display: inline-block;
			font-size: .7em;
			padding: 0;
		}
	}
}

.owl-image {
	@include cover();
	height: 80vh;
	a.btn {
		position: absolute;
		top: 50%;
		right: 0;
		@include round(0px);
		text-transform: uppercase;
	}
}
.hero-wrapper {
	position: relative;
	.triangle-l,
	.triangle-r {
		width: 20%;
		height: 25px;
		background: $white;
		position: absolute;
		bottom: 0;
		z-index: 100;
		&:before,
		&:after {
			content: '';
			position: absolute;
		}
		@include media-breakpoint-up(sm) { 
			width: 40%;
		}
	}
	.triangle-l {
		left: 0;
		&:before {
			right: -30px;
			width: 0; 
			height: 0; 
			border-left: 0px solid transparent;
			border-right: 30px solid transparent;
			
			border-bottom: 25px solid $white;
		}
	}
	.triangle-r {
		right: 0;
		&:before {
			left: -30px;
			width: 0; 
			height: 0; 
			border-right: 0px solid transparent;
			border-left: 30px solid transparent;
			
			border-bottom: 25px solid $white;
		}
	}
}
.owl-dots {
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 10px;
	.owl-dot {
		display: inline-block;
		margin: 0 .2em;
		span {
			display: block;
			width: 15px;
			height: 15px;
			border: 1px solid $white;
			@include transparent-background(255,255,255,.6);
			@include round(15px);
			@include transition(.3s);
			&:hover {
				background-color: $brand-primary;
				@include transparent-background(255,255,255,1);
			}
		}
		&.active {
			span {
				background: $brand-secondary;
				border: 1px solid $brand-secondary;
			}
		}	
	}
	
}
