#hero {
	position: relative;
	z-index: 1000;
	background-color: #000;
	img {
		width: 100%;
		height: auto;
	}
	.carousel-item {
		
	}
	.carousel-caption {
		left: 65px;
		right: 65px;
		bottom: 50px;
		h3 {
			font-size: 2.2em;
			margin: 0 0 .3em;
			padding: .3em .5em;
			font-weight: 400;
			background: $white;
			color: $brand-primary;
			display: inline-block;
			font-weight: 300;
		}
	}
	
	.carousel-indicators {
		margin-bottom: 0;
		margin-left: 65px;
		margin-right: 65px;
		bottom: 30px;
/*
		-webkit-box-pack: left;
		-ms-flex-pack: left;
		justify-content: left;
*/
	}
}
.carousel-indicators {
	//bottom: -40px;
	margin-bottom: 0;
	li {
		background-color: $white;
		max-width: 20px;
		height: 20px;
		@include round(20px);
		&.active {
			background-color: $brand-primary;
		}
	}
}


// Page Header Styles
.page-header {
	padding: 0;
	margin-top: 3em;
	margin-bottom: 2em;
	text-align: center;
	h1 {
		margin: 0;
		font-weight: 700;
		text-transform: uppercase;
		color: $brand-primary;
	}
}

// Main Content Styles
main {
	
	p {
		font-weight: 400;	
		&:last-child {
			margin-bottom: 0;
		}
	}
	.main-content {
		margin-bottom: 3em;
	}
	
	.services-block {
		margin-left: -65px;
		margin-right: -65px;
		margin-bottom: 2em;
		color: $white;
		.col-sm-4 {
			@include cover();
			position: relative;
			@include transition(.5s);
			overflow: hidden;
			h3 {
				text-transform: uppercase;
				font-size: 1.3em;
				padding: 0 15px;
				margin-bottom: 1em;
			}
			p {
				padding: 0 15px;
				margin-bottom: 1.5em;
				font-size: .9em;
				&:last-child {
					margin-bottom: 0;
				}
			}
			.btn {
				text-shadow: 0px 0px 0px #000000;
			}
			
			h3.service-heading {
				position: absolute;
				right: 0;
				bottom: 0;
				left: 0;
				margin: 0;
				padding: 15px 30px;	
				@include transition(.5s);
				z-index: 99;
				//@include transparent-background($r,$g,$b,$a)
			}
			.full-content {
				top: -500px;
				margin-left: -15px;
				margin-right: -15px;
				padding: 2em 15px;
				z-index: 100;
				position: relative;
				@include transition(.5s);
			}
			
			&.sprinkler-installation {
				h3.service-heading,
				.full-content {
					@include transparent-background(72,125,165,.9)
				}
				.btn-secondary {
					color: $brand-blue;
				}
			}
			&.sprinkler-repair {
				h3.service-heading,
				.full-content {
					@include transparent-background(114,71,96,.9)
				}
				.btn-secondary {
					color: $brand-purple;
				}
			}
			&.landscaping {
				h3.service-heading,
				.full-content {
					@include transparent-background(234,191,63,.9)
				}
				.btn-secondary {
					color: $brand-yellow;
				}
			}

			&:hover {
/*
				-webkit-box-shadow:inset 0 0 2000px 0 rgba(0,0,0,.8);
				box-shadow:inset 0 0 2000px 0 rgba(0,0,0,.8);
*/
				
				.full-content {
					top: 0px;	
				}
				h3.service-heading {
					bottom: -55px;
				}
				
			}
			
		}
	}
	
	.testimonials-carousel-wrap {
		padding: 0em 0 4em;
		position: relative;
		z-index: 1009;
		h2 {
			margin-bottom: 1em;
		}
		.test-content {
			background: $white;
			margin-left: -90px;
			border: 1px solid #efefef;
			padding: 20px 30px;
			font-size: .9em;
			margin-top: 2em;
			margin-bottom: 2em;
		}
		.carousel-indicators {
			bottom: -40px;
			li {
				background-color: $brand-primary;
				&.active {
					background-color: $brand-secondary;
				}
			}
		}
		
	}
}