.project-archive-wrapper {
	margin-left: -2px;
	margin-right: -2px;
	article.projects {
		padding-left: 2px;
		padding-right: 2px;
		position: relative;
		margin-bottom: 4px;
		overflow: hidden;
		a {
			display: block;
			color: $white;
			img {
				@include transition(.5s);

			}
			
			h2 {
				position: absolute;
				text-align: center;
				bottom: -200px; 
				left: 2px;
				right: 2px;
				margin-bottom: 0;
				font-size: 1.5em;
				padding: .5em .8em;
				font-weight: 300;
				line-height: 100%;
				@include transparent-background(41,91,54,.9);
				@include transition(.5s);
				z-index: 20;
				span {
					display: block;
					font-size: .6em;
					color: $brand-secondary;
					font-weight: 400;
					text-transform: uppercase;
				}
			}
			&:hover {
				img {

				}	
				h2 {
					bottom: 0;
				}
			}
		}
	}
}

#container1,
.project-featured {
	height: 100vh !important;
	overflow: hidden;
}

.single-projects {
	.container-fluid.project {
		background: $white;
		margin-top: -100px;
		position: relative;
		z-index: 2000;
		article {
			padding: 1.4em 1em;
			header {
				margin-bottom: 2em;
				border-bottom: 1px solid #efefef;
				padding-bottom: 1em;
				h1 {
					margin-bottom: 0;
					text-transform: uppercase;
					font-size: 2.5em;
					line-height: 1em;
					color: $brand-primary;
				}		
				cite {
					font-style: normal;
					font-size: 1em;
					font-weight: 300;
				}		
			}
		}
	}
}

#project-image-wrap {
	height: 100vh;
	overflow: hidden;
	.owl-image {
		height: 100vh;
		
	}
}

#project-gallery {
	position: absolute;
	top: 0;
	.owl-dots {
		position: absolute;
		bottom: 100px;
		right: 50px;
		z-index: 2000;
	}
	&.hide {

	}
	&.active {

	}
}
