.btn {
	@include round(3px);
	@include transition(.5s);
}
.btn-primary {
	background: $brand-secondary;
	border: none;
}
.btn-secondary {
	color: $brand-secondary;
	border: none;
	color: #666;
	&:hover {
		
	}
}