.btn {
	@include round(3px);
}
.btn-primary {
	background: $brand-secondary;
	border: none;
}
.btn-secondary {
	color: $brand-secondary;
	border: none;
	&:hover {
		color: $brand-primary;
		background-color: $white;
	}
}