body {
	font-family: $heading-font;
}
.wrap {
	margin-left: 250px;
	position: relative;
	.container-wrap {
		padding: 0px 50px 50px;
	}
}
p {
	color: $font-color;
}
a {
	&:hover {
		text-decoration: none;
	}
}
