body {
	font-family: $heading-font;
	padding-top: 71px;
	@include media-breakpoint-up(sm) {
		padding-top: 0;
	}
}
.wrap {
	//margin-left: 250px;
	position: relative;
	.container-wrap {
		padding: 0px 50px 50px;
	}
	@include media-breakpoint-up(sm) {
		margin-left: 250px;
	}
}
p {
	color: $font-color;
}
a {
	&:hover {
		text-decoration: none;
	}
}
